body { 
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
 /*header CSS*/
ul {
font-family: Arial, Verdana;
font-size: 20px;
margin: 0;
padding: 0;
list-style: none;
}
ul li {
display: block;
position: relative;
float: left;
}

.header_item {
    margin: 10px;
    color: white;
    font-size: 16px;
    padding-left: 30px;
    text-decoration: none;
}
#menu {
    top:0;
    background-color: rgba(47,47,47,0.98);
    width: 100%;
    height: 40px;
}

#menu a{
    text-decoration: none;
}
#footer{
    height: 30px;
    bottom: 0;
    width: 100%;
    background-color: rgba(47,47,47,0.98);
}

#copyright{
    color:white;
    font-size: 15px;
    text-align: center;
}

.right_item {
    margin-top: 5px;
    display: inline-block;
    color: white;
    font-size: 16px;
    float: right;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 5px;
}

#logo {
    font-size: 35px;
    color: #FF684F;
    font-family: tahoma;
}

/*Modal*/
#modal-container_login {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    display: none;
}
#modal-container_signup {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    display: none;
}

#modal-overlay_login {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 50;
    background: rgba(0, 0, 0, 0.5);
}
#modal-overlay_signup {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 50;
    background: rgba(0, 0, 0, 0.5);
}

#modal-box-wrapper {
    height: 270;
    width: 500;
    margin: auto;
    z-index: 55;
    position: relative;
    top: 250;
}
#modal-header {
    color: #FF684F;
    font-size: 25;
    font-weight: 100;
    margin-left: 20;
    margin-bottom: 20;
    padding-top: 20;
}
#inputbox {
    border: 1px solid black;
    padding: 10px;
    background: transparent;
    margin: 0px;
    margin-bottom: 15px;
    width: 460px;
    font-size: 12px;
    font-weight: 700;
    color: black;
    cursor: pointer;
    margin-left: 20;
    }
#modal-box {
    margin-left: auto;
    margin-right: auto;
    z-index: 60;
    width: 500;
    height: 260;
    background-color: whitesmoke;
}
.button {
    display: inline-block;
    background: #FF684F;
    padding-top: 3;
    padding-bottom: 3;
    padding-left: 15;
    padding-right: 15;
    font-size: 12;
    font-weight: 700;
    color: white;
    float: right;
    margin-right: 20;
    cursor: pointer;
}

a {
  color: white;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #e5725b;
}
#main-image {
  width: 100%;
}
#title-text {
  font-size: 48px;
  font-weight: 600;
}
#main-text-wrapper {
  background: rgba(255, 255, 255, 0.75);
  height: 130px;
  width: 100%;
  z-index: 1;
  position: absolute;
  margin-top: -20%;
}
#main-text {
  padding-top: 35px;
  margin-left: 35%;
}
#bottom-wrapper {
  background: #031F31;
  height: 150px;
}
.icon-image {
  height: 80px;
}
.info {
  float: left;
  height: 300px;
  width: 20%;
  padding: 20px;
}
.underline {
    text-decoration: underline;
    color: #e5725b;
    text-underline-width: 100%;
}
#main-content-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: 500px;
  padding-top: 25px;
  overflow: hidden;
}
#bottom-text {
  color: white;
  margin-left: 25%;
  font-size: 32px;
  padding-top: 45px;
}
.icon {
    padding: 10px;
    padding-left: 50px;
}
.title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
    color: black;
}
.content {
    text-align: center;
    font-size: 14px;
}